name: deploy to prod

on:
  push:
    branches:
      - master
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::527220914588:role/PumpfoilMapDeployer
          aws-region: eu-west-3
      - name: Deploy backend
        run: |
          cd backend
          npm ci
          npx serverless deploy --stage prod
